*, .nav--list > li > a {
    color: whitesmoke;
    text-decoration: none;
}

html, #root, body {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: rgba(0, 0, 0, .5) url("../src/images/background.jpg");
    background-blend-mode: darken;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    
}

body, ul {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.header, .main {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 98%;
    max-width: 1440px;
    margin: 5px auto;
    padding: 10px 0;
}

.header--name, .nav--list, .main--title, .project-card--description > h3, .main--contact h2, .main--form__button, .footer {
    font-family: 'Source Sans Pro', sans-serif;
}

.header--jobname, .header--description, .main--description, .project-card--description, .main--form__input {
    font-family: 'Merriweather', serif;
}

.bold-font {
    font-weight: bold;
}

.header {
    font-size: 1.8em;
    text-shadow: 2px 2px darkslategray;
    animation: fade-in 3000ms both;
    animation-delay: 500ms;
}

.main-background, .footer-background {
    animation: fade-in 1000ms both;
    animation-delay: 1500ms;
}

.project-card {
    animation: fade-in 1000ms both;
    animation-delay: 2000ms;
}

.project-card--description, .main--contact {
    animation: fade-in 1000ms both;
    animation-delay: 2500ms;
}


@keyframes fade-in {
    0% {
        transform: translateY(15px);
        opacity: 0;
      }
      100% {
        transform: translateY(0px);
      }
}

.nav--list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

@media all and (min-width: 600px) {
    .nav--list {
        flex-direction: row;
    }
}

.nav--list > li {
    margin: 10px auto;
    transition: 300ms ease-in-out;
}

.nav--list > li:hover {
    transform: scale(1.1);
}

.main-background {
    background-color: #000000;
    background-image: linear-gradient(147deg, #1a1919 0%, #263646 74%); 
}

.main {
    font-size: 1.3em;
}

.main--projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    flex: 1;
    flex-basis: 25%;
    min-width: 280px;
    max-width: 450px;
    height: fit-content;
    margin: 10px;
}

.project-card--description__github-icon {
    position: absolute;
    top: 25px;
    left: 20px;
}

.project-card--description__github-icon svg {
    height: 30px;
    transition: 200ms ease-in-out;
}

.project-card--description__github-icon svg:hover {
    transform: scale(1.2);
}

.project-card--description__github-icon svg:active {
    transform: scale(1);
}

.project-card--img {
    width: 95%;
    height: 50%;
    height: 260px;
    object-fit: cover;
    border: solid 1px black;
    border-radius: 4px;
    box-shadow: 0px 5px 25px black;
    transition: 200ms ease-in-out;
}

.project-card--img:hover {
    transform: scale(1.03);
}

.project-card--img:active {
    transform: scale(1);
}

.project-card--description {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main--contact {
    padding: 30px 0;
}

.main--form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 95%;
    margin: auto;
}

.main--form__input {
    padding: 5px 0;
    margin: 10px 0;
    text-indent: 5px;
    color: black;
    font-size: 1.05em;
}

.main--form__button {
    color: black;
    font-size: 1.05em;
    height: 50px;
    width: 120px;
    align-self: center;
    margin: 10px 0;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}

.footer-background {
    height: 100px;
    margin-top: auto;
    background-color: rgb(37, 37, 37);
}

.footer {
    text-align: center;
    font-size: 1.3em;
    margin: 0 auto;
    padding: 25px 50px;
    max-width: 1440px;
}